.container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.entry-box {
  text-align: center;
  background-color: skyblue;
  padding: 32px;
  border-radius: 5px;
}

#nickname {
  width: 200px;
  height: 30px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  text-align: center;
}

#entry-btn {
  width: 200px;
  height: 30px;
  background-color: yellow;
  border-radius: 10px;
  text-align: center;
  margin-top: 16px;
  border: none;
}

#entry-btn:active {
  background-color: #e9e9e9;
}

#message {
  flex-grow: 1;
  margin: 2px;
}

.chat-list {
  background-color: skyblue;
  width: 350px;
  height: 600px;
  padding: 10px;
  overflow-y: auto; /* height의 길이를 넘어갈 경우 스크롤 생성 */
}

.chat-list div {
  margin-top: 3px;
}

.chat-list div div {
  display: inline-block;
  padding: 3px;
}

.my-chat {
  text-align: right;
}

.my-chat div {
  background-color: yellow;
}

.other-chat div {
  background-color: white;
}

.secret-chat div {
  background-color: rgb(174, 94, 249);
  color: #fff;
}

.custom-btn {
  background-color: yellow;
  border: none;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  color: #6e6e6e;
  padding: 5px;
}

.chat-footer {
  display: flex;
  justify-content: space-between;
}

#chat-submit:active {
  background-color: #e9e9e9;
}

.clip {
  background-color: transparent;
  border: none;
}

.clip:active {
  color: #6e6e6e;
}

.notice {
  text-align: center;
  color: #005397;
  font-size: 12px;
}

.d-none {
  display: none;
}
