<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("include/include", { title: "실시간 채팅" }) %>

    <link rel="stylesheet" href="/static/index.css" />
    <!-- socket.io CDN -->
    <script
      src="https://cdn.socket.io/4.6.0/socket.io.min.js"
      integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>채팅</h1>

    <!-- [실습 3-2] 채팅창 입장 안내 문구 socket.id -> nickname -->
    <div class="entry-box">
      <input
        type="text"
        id="nickname"
        placeholder="Nickname"
        onkeypress="if (event.keyCode == 13) { entry()
        
      }"
        autofocus
      />
      <button type="button" onclick="entry()">입장</button>
    </div>
    <!-- [실습 2] -->
    <div class="chat-box d-none">
      <div id="chat-list" class="chat-list">
        <!--  임시 대화 데이터 -->
        <!-- <div class="my-chat">
          <div class="my-chat chat-user">user1</div>
          <div class="my-chat chat-msg">msg1</div>
        </div>
        <div class="other-chat">
          <div class="other-chat chat-user">user2</div>
          <div class="other-chat chat-msg">msg2</div>
        </div> -->
      </div>
      <div class="chat-content"></div>
      <select id="nick-list"></select
      >에게
      <input
        type="text"
        id="message"
        onkeypress="if (event.keyCode == 13) {send()}"
      />
      <button type="button" id="chat-submit" onclick="send()">전송</button>
    </div>

    <script src="/static/chat.js"></script>
  </body>
</html>
