* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Header {
  background-color: #ddd;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu-item {
    margin: 0 8px;
  }
}
.MainPage {
  background-color: orange;
  min-height: 100vh;
  &.Dark {
    background-color: #333;
  }
}
.ProductDetailPage {
  background-color: cornflowerblue;
  min-height: 100vh;
}
.ProductPage {
  background-color: skyblue;
  min-height: 100vh;
}
.NotFound {
  background-color: pink;
  min-height: 100vh;
}
.ProductItem {
  background-color: white;
  width: 80vw;
  margin: 30px auto 0 auto;
  list-style: none;

  &:hover {
    font-weight: 700;
  }
}
