.box {
  display: inline-block;
  width: 400px;
  height: 500px;
  border: 1px solid black;
  box-sizing: border-box;
}
.background {
  /* background도 단축 속성이 가능하나 */
  /* 권장되지는 않는다. */
  /* background: color image repeat position/size; */
  background-color: aqua;
  background: palegreen;
  /* to top, to bottom, to left 혹은 각도, 대각선도 가능하다. */
  background: linear-gradient(to bottom, black, red);
}
.background-image {
  background-image: url(./image/small_img.png);
  background-repeat: no-repeat;
  
  background-position: left top;
  /* background-position: 10px 10px; */
  /* 숫자값을 하나만 입력하면 x축에 대해 적용 */
  /* background-position: 100px; */

  background-size: 100px 50px;
  background-size: contain;
  background-size: cover;
  
  background-attachment: fixed;
}