.test {
  text-align: center;
  background-color: burlywood;
  color: coral;
  font-size: 48px;
  margin-left: 16px;
  margin-right: 16px;
}
form {
  text-align: center;
}
.input {
  margin-top: 16px;
}
.color-container {
  display: flex;
  margin-top: 16px;
}
.color {
  width: 50px;
}
.red {
  height: 80px;
  background-color: red;
}
.orange {
  height: 100px;
  background-color: orange;
}
.yellow {
  height: 120px;
  background-color: yellow;
}
.green {
  height: 140px;
  background-color: green;
}
.blue {
  height: 160px;
  background-color: blue;
}
.navy {
  height: 180px;
  background-color: navy;
}
.purple {
  height: 200px;
  background-color: purple;
}
.book-container {
  width: 500px;
  height: 500px;
  background-color: antiquewhite;
  text-align: center;
  padding: 16px;
}
.book-title {
  color: coral;
}
p {
  font-weight: bold;
  text-align: left;
}
img {
  height: 250px;
}
