@mixin body($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
  position: absolute;
}
@mixin position($top, $left) {
  top: $top;
  left: $left;
}
.body {
  @include body(100px);
  &.body1 {
    @include position(100px, 100px);
    background-color: rgb(0, 0, 166);
  }
  &.body2 {
    @include position(150px, 160px);
    background-color: rgb(0, 0, 166);
  }
  &.body3 {
    @include position(190px, 200px);
    background-color: rgb(52, 118, 231);
  }
  &.body4 {
    @include position(240px, 220px);
    background-color: rgb(47, 146, 233);
  }
  &.body5 {
    @include position(280px, 280px);
    background-color: rgb(140, 191, 253);
  }
  &.body6 {
    @include position(300px, 300px);
    background-color: rgb(52, 118, 231);
  }
  .eye {
    &.eye-white {
      @include body(40px);
      @include position(20px, 20px);
      background-color: white;
      position: relative;
    }
    &.eye-black {
      @include body(20px);
      background-color: black;
      position: relative;
      top: 10px;
    }
  }
}
